.homepage {
  width: 100dvw;
  height: 100dvh;
  padding: 0;
  margin: 0;
}

/* POSTER
@css {
  .homepage {
    @apply  w-screen h-screen;
  }
  .wrap {
    @apply relative h-[50vh];
  }
  .img_container {
    @apply h-[50vh] bg-black;
  }
  .img {
    @apply object-cover h-full w-screen opacity-75 mix-blend-lighten;
  }
  .img_textimg_text {
    @apply absolute flex flex-col h-full w-screen top-0 left-0;
  }
  .img_mainText {
    @apply mx-20 md:sm:text-xl  uppercase my-16 lg:text-4xl align-bottom justify-center;
  }
  .img_subText {
    @apply uppercase text-center md:sm:text-sm lg:text-xl;
  }
}  */
