body {
  background-color: #ffffff;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-image .ant-image-img {
  height: 100%; /* Override the height to fit the container */
  object-fit: contain;
  /* padding: 3rem; */
  display: flex;

  justify-items: center;
  align-items: center;

  /* Ensures the image retains aspect ratio and fills the container */
}
/* MyComponent.css */
.ant-select-selector:hover {
  border-color: black !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) !important;
  outline: none; /* Remove the default focus outline */
}

.ant-select-selector:focus {
  border-color: black !important;
}
.ant-input-number:focus {
  border-color: black !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) !important;
  outline: none; /* Remove default outline */
}

.ant-input-number:hover {
  border-color: black;
}
