body {
  background-color: #ffffff;
}
:where(.css-dev-only-do-not-override-5wsri9).ant-image .ant-image-img {
  height: 100%; /* Override the height to fit the container */
  object-fit: contain;
  /* padding: 3rem; */
  display: flex;

  justify-items: center;
  align-items: center;

  /* Ensures the image retains aspect ratio and fills the container */
}
/* MyComponent.css */
.ant-select-selector:hover {
  border-color: black !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) !important;
  outline: none; /* Remove the default focus outline */
}

.ant-select-selector:focus {
  border-color: black !important;
}
.ant-input-number:focus {
  border-color: black !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2) !important;
  outline: none; /* Remove default outline */
}

.ant-input-number:hover {
  border-color: black;
}

.sparkle-container {
  position: absolute;
  pointer-events: none; /* Ensure the container does not interfere with clicks */
}

.sparkle {
  position: absolute;
  width: 8px; /* Width of the sparkle */
  height: 8px; /* Height of the sparkle */
  background: transparent; /* Make background transparent */
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white; /* Create glowing effect */
  animation: sparkle-animation forwards; /* Trigger animation */
}

/* Custom arrow styling */
.custom-dropdown .ant-dropdown-arrow {
  color: black !important; /* Arrow background color */
}
.text-lg {
  line-height: normal !important; /* Remove the default line-height globally */
}
@keyframes sparkle-animation {
  0% {
    transform: scale(1) rotate(0deg); /* Start normal size */
    opacity: 1; /* Fully visible */
  }
  100% {
    transform: scale(2) rotate(360deg); /* Scale up and rotate */
    opacity: 0; /* Fade out */
  }
}

@font-face {
  font-family: "RoadRage"; /* Use a name you want for the font */
  src: url("/public/RoadRage-Regular.ttf") format("truetype"); /* Adjust the path */
  font-weight: normal; /* or bold */
  font-style: normal; /* or italic */
}
