@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap");
:root {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
}
body,
html {
  font-family: var(--font-poppins);
  background-color: rgb(255, 255, 255);
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 500px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: rgb(226, 232, 240);
}
::-webkit-scrollbar-thumb {
  background: #888787;
}
::-webkit-scrollbar-thumb:hover {
  background: #636363;
}
@layer utilities {
  .custom-scrollbar {
    @apply overflow-y-scroll; /* Apply overflow */
  }
  /* For WebKit browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 1px; /* Thin width */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Darker thumb */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #f1f1f1; /* Small border */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker thumb on hover */
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin; /* Makes scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
    border-radius: 4px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
