* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
}

.admin-createCategory-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
}

.admin-createCategory-container-content {
  max-width: 1536px;
  margin: auto;
  padding: 0 1rem;
  height: auto;
}

.admin-createCategory-container-content .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: auto;
  gap: 2rem;
  margin-bottom: 2rem;
}

.admin-createCategory-container-content .row .col-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background: hsl(0, 0%, 0%);
  border-top: 20px solid #ffffff;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06510416666666667vw;
  padding: 2rem;
}

.admin-createCategory-container-content .row .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background: white;
  width: 55vw;
  height: auto;
  padding: 1.875rem;
}
.admin-createCategory-container-content .row .col-2 h1 {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 1385px) {
  .admin-createCategory-container-content .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .admin-createCategory-container-content .row .col-1 {
    width: 100%;
    margin-right: 2rem;
    font-size: 3.3829499323410013vh 1.6276041666666667vw;
  }

  .admin-createCategory-container-content .row .col-2 {
    width: 100%;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  .admin-createCategory-container-content .row {
    flex-direction: column;
    align-items: center;
  }

  .admin-createCategory-container-content .row .col-1 {
    width: 100%;
    margin-right: 2rem;
    font-size: 2.8vh 0.8vw;
  }

  .admin-createCategory-container-content .row .col-2 {
    width: 100%;
    overflow: scroll;
    margin-right: 2rem;
    font-size: 2vh 0.5vw;
  }
}

/*Table Styles*/
.table {
  border-collapse: collapse;
  width: 100%;
}
.btn-btn-primary {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  box-shadow: 1px 1px 1px 1px #c9c9c9;
  cursor: pointer;
  
}

.fl-table thead th:nth-child(odd) {
  box-shadow: 1px 1px 1px 1px #c9c9c9;
}

.fl-table tr:nth-child(even) {
  background: #eceff1;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
