.rawad-mall_navbar a {
  text-decoration: none;
  color: white;
}
.rawad-mall_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 4rem;
  flex-direction: row;
  background: #000;
}

.rawad-mall_navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rawad-mall_navbar-links_logo {
  display: flex;
  align-items: center;
}

.rawad-mall_navbar-links_container {
  display: flex;
  flex-direction: row;
}

.rawad-mall_navbar-links_container a:hover {
  color: rgb(104, 101, 101);
}

.rawad-mall_navbar-links_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  /* font-size: 1.125rem; */
  line-height: 1.5625rem;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 10;
  color: white !important;
}
.dropdown img .dropdown-menu {
  display: inline-block;
  padding: 0.625rem;
  color: white;
  cursor: pointer;
  text-align: center;
}

.dropdown h4 .dropdown-menu {
  display: inline-block;
  padding: 0.625rem;

  cursor: pointer;
  text-align: center;
}
.dropdown-menu:hover {
  background: #000;
}
.dropdown-items {
  position: absolute;
  display: none;
  text-align: center;
  top: 100%;

  background: rgb(0, 0, 0);
  color: #ffffff;
  z-index: 1;
  padding: 0.625rem;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.dropdown-items .dropdown-items-1 {
  border-bottom: solid 1px rgb(255, 255, 255);
  border-radius: 0.3125rem;
  text-align: center;
}

.dropdown-items-1 img {
  position: relative;
  height: auto;
  top: 1.25rem;
}

.dropdown:hover .dropdown-items {
  display: block;
  padding: 0.625rem;
  text-decoration: none;
  border: none;
  gap: 0.625rem;
}
.dropdown-items div:hover {
  background: #45444480;
}

.dropdown1 {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #000;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: flex;
  color: white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #000000;
}

.dropdown1:hover .dropdown-content {
  display: block;
  position: absolute;
}

.rawad-mall_navbar-icons {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  color: #fff;
}
.logout-icon {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.rawad-mall_navbar-icons img {
  color: #f1f1f1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  max-width: 1.6179rem;
  height: 1.6194rem;
  flex-shrink: 0;
}

.rawad-mall_navbar-icons img:hover {
  transform: scale(1.1) rotate(-2deg);
}

.cart-count {
  border-radius: 50%;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  position: relative;
  padding: 0 0.3125rem;
  box-shadow: #000000;
  min-width: 0.9375rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  bottom: 1.875rem;
  right: -1.1375rem;
  color: white;
  font-weight: bold;
}
/* .cart-icon img {
  width: 1.6194rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
} */
.search-box {
  position: relative;
  top: 1.125rem;
  left: 6.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  background: #000;
  height: 2.5rem;
  border-radius: 2.5rem;
  padding: 0.625rem;
}

.search-btn {
  float: right;
  width: 2.5rem;
  height: 2.5rem;
  border-style: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-text {
  border: none;
  background: none;
  outline: none;
  float: right;
  color: white;
  font-size: 1rem;
  line-height: 2.5rem;
  width: 6.25rem;
}
.rawad_mall__navbar-menu {
  display: none;
  margin-left: 1rem;
}

.rawad-mall_navbar-menu svg {
  display: none;
  cursor: pointer;
}

.rawad-mall_navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  list-style: none;
  text-align: end;
  background: var(--color-footer);
  color: white;
  padding: 2rem;
  position: absolute;
  top: 2.5rem;
  right: 0;
  margin-top: 2rem;
  min-width: 13.125rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 5 rgba(249, 249, 249, 0.2);
}

.rawad-mall_navbar-menu_container p {
  display: none;
  margin-bottom: 7.5rem;
}

@media screen and (max-device-width: 1050px) {
  .rawad-mall_navbar {
    display: flex;
    gap: 3.625rem;
  }
  .rawad_mall__navbar-menu {
    display: block;
  }

  .rawad-mall_navbar-links_container {
    display: none;
    justify-content: center;
  }

  .rawad-mall__navbar-menu_container-links-icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0;
    min-width: 200px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    z-index: 1;
    padding: 0.625rem;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  }
}

@media screen and (min-device-width: 575px) and (max-device-width: 750px) {
  .rawad-mall_navbar {
    align-items: center;
    display: flex;

    gap: 3.625rem;
    flex-shrink: 0;
  }

  .rawad-mall_navbar-icons {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 575px) {
  .rawad-mall_navbar {
    align-items: center;
    display: flex;
    gap: 0.625rem;
    padding: 0.4rem;
  }

  .rawad-mall_navbar-icons {
    display: flex;
    gap: 16px;
  }
  .language-switcher {
    display: none;
  }
  .rawad-mall_navbar-icons img {
    color: #f1f1f1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 1.05rem;
    height: 1.25rem;
    flex-shrink: 0;
  }
  .rawad-mall_navbar-icons img .search-box {
    margin-left: 8px;
  }

  .cart-icon img {
    width: 1.05rem;
    height: 1.5rem;
  }
  .rawad-mall_navbar-menu_container {
    top: 20px;
    left: -1.25rem;
  }

  .rawad-mall__navbar-menu_container-links-icons {
    display: block;
    left: -150px;
  }

  .dropdown img {
    width: 1.05rem;
    height: 1.25rem;
  }

  .cart-count {
    height: 0.8rem;
    width: 0.8rem;
    padding: 0.3rem;
    min-width: 0 !important;
    font-size: 0.625rem;
  }
}
@media screen and (max-device-width: 300px) {
  .rawad-mall_navbar {
    padding: 1.4rem 1.6rem;
    width: 100dvw;
  }
  .rawad-mall_navbar-icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .language-switcher {
    display: none;
  }
  .search-box {
    display: flex;
    margin-left: 8px;
  }
}
@media screen and (max-device-width: 200px) {
  .rawad-mall_navbar {
    padding: 1.4rem 1.6rem;
    width: 12.5rem;
  }
  .language-switcher {
    display: none;
  }
}
